#navbar-nav{
    position: absolute;
    right: 0;
}


#navbar-nav>a{
    text-decoration: none;
    color: white;
    font-size: 31px;
    font-family: 'Inria Sans', sans-serif;;
    font-weight: 400;
}

#navbar-nav>a:last-child>button{
    height: 46px;
    width: 203px;
    font-size: 22px;
    color: white;
    background-color: #FF5C8A;
    border-radius: 5px;
    border: 0;
}

.container-fluid{
    background-color: #000000;
    color: white;
    height: 80px;
    width: 100vw;
}

#navbar{
    padding: 0;
}

#container-fluid>img{
    position: absolute;
    left: 5%;
}

#customer_headline{
    position: absolute;
    left: 10%;
    top: 15%;
}

#form{
    position: absolute;
    top: 28%;
    left: 15%;
}

.form-control{
    width: 80px;
}

#customerId{
    width: 200px;
}

.mb-3:nth-child(2){
    position: absolute;
    bottom:-110%;
    left: 1.1%;
}

.mb-3:nth-child(3){
    position: absolute;
    top: 0;
    left: 55%;
}

.mb-3:nth-child(4){
    position: absolute;
    bottom: -110%;
    left: 55%;
}
#button{
    position: absolute;
    right: -40%;
    top: 110px;
}

#button>button{
    display: inline-block;
    margin-bottom: 10px;
    width: 100px;
    height: 35px;
    font-size: 22px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 400;
    align-items: center;
    color: black;
    text-align: center;
    padding: 0;

}

#button>button:nth-child(1){
    background-color: green;
}

#button>button:nth-child(2){
    background-color: darkred;
}

#button>button:nth-child(3){
    background-color: darkblue;
}

.form-label{
    font-size: 18px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 400;
}

hr{
    border: 2px solid black;
    width: 1150px;
    position: absolute;
    left: 10%;
    top: 55%;
}

#viewCustomers{
    position: absolute;
    bottom: 250px;
    left: 10%;
}
/*apply css table */

#table{
    width: 1000px;
    position: absolute;
    left: 190px;
    top: 75%;
}

#table_head>tr>th{
    background-color: black;
    color: white;
    font-size: 25px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 0;

}

#table_head>tr>th:first-child{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#table_head>tr>th:last-child{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.table>tbody {
    font-size: 22px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 400;
}